$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram-from: hsl(37, 97%, 70%);
$instagram-to: hsl(329, 70%, 58%);
$youtube: hsl(348, 97%, 39%);
$green: hsl(163, 72%, 41%);
$red: hsl(356, 69%, 56%);
$dark-themeFrom: hsl(210, 78%, 56%);
$dark-themeTo: hsl(146, 68%, 55%);
$light-theme: hsl(230, 22%, 74%);
$mainDark-bg: hsl(230, 17%, 14%);
$topdark-bg: hsl(232, 19%, 15%);
$darkcard-bg: hsl(228, 28%, 20%);
$white-text: hsl(0, 0%, 100%);
$bluetheme-text: hsl(228, 34%, 66%);

//light theme
$white-bg: hsl(0, 0%, 100%);
$top-bg: hsl(225, 100%, 98%);
$card-bg: hsl(227, 47%, 96%);
$darktext: hsl(228, 12%, 44%);
$verydarktext: hsl(230, 17%, 14%);
$overviewsizeheading: 14px;

//media sizes
$mobile: "(max-width: 767px)";
$smallMedium: "(min-width: 768px)";
$medium: "(max-width: 1221px)";
$large: "(min-width: 1222px)";
