@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/*create variables*/
:root {
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-from: hsl(37, 97%, 70%);
  --instagram-to: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);
  --green: hsl(163, 72%, 41%);
  --red: hsl(356, 69%, 56%);
  --dark-themeFrom: hsl(210, 78%, 56%);
  --dark-themeTo: hsl(146, 68%, 55%);
  --light-theme: hsl(230, 22%, 74%);
  --mainDark-bg: hsl(230, 17%, 14%);
  --topdark-bg: hsl(232, 19%, 15%);
  --darkcard-bg: hsl(228, 28%, 20%);
  --white-text: hsl(0, 0%, 100%);
  --bluetheme-text: hsl(228, 34%, 66%);
  /*light theme*/
  --white-bg: hsl(0, 0%, 100%);
  --top-bg: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --darktext: hsl(228, 12%, 44%);
  --verydarktext: hsl(230, 17%, 14%);
  --overviewsizeheading: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  height: 100%;
  font-family: "Inter", sans-serif;
}
/*dark them*/

#main-page {
  height: 100%;
  max-width: 1440px;
  background-color: var(--mainDark-bg);
  padding-bottom: 50px;
}
@media screen and (max-width: 375px) {
  #main-page {
    max-width: 375px;
    padding-bottom: 20px;
  }
}
.top-bg {
  width: 100%;
  height: 200px;
  background-color: var(--topdark-bg);
}
.container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -160px;
}
@media screen and (max-width: 1026px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: -180px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 375px) {
  header {
    display: block;
    width: 100%;
  }
}
h1 {
  font-size: 26px;
  font-weight: 700;
  color: var(--white-text);
}
@media screen and (max-width: 375px) {
  h1 {
    font-size: 23px;
  }
}
.title p,
.toggle-theme p {
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 400;
  color: var(--bluetheme-text);
}
.toggle-theme {
  display: flex;
}
@media screen and (max-width: 375px) {
  .toggle-theme {
    justify-content: space-between;
    border-top: 1px solid var(--darktext);
    margin-top: 10px;
    padding-top: 10px;
  }
}
.bolls-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: linear-gradient(var(--dark-themeFrom), var(--dark-themeTo));
}
.boll {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.dark {
  background-color: var(--mainDark-bg);
}
.light {
  background-color: var(--top-bg);
  opacity: 0;
}
/*socail media section*/
.social-media {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media screen and (max-width: 375px) {
  .social-media {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}
.acount {
  height: 100%;
  text-align: center;
  padding: 15px;
  background-color: var(--darkcard-bg);
  width: 200px;
  border-radius: 4px;
}
.acount:hover,
.analysis:hover {
  background-color: hsl(228, 28%, 30%);
}
@media screen and (max-width: 860px) {
  .acount {
    width: 150px;
  }
}

@media screen and (max-width: 375px) {
  .acount {
    width: 100%;
    margin-bottom: 20px;
    margin-bottom: 15px;
  }
}
.facebook {
  background-color: var(--facebook);
  padding-top: 2px;
  border-radius: 5px;
}
.twitter {
  background-color: var(--twitter);
  padding-top: 2px;
  border-radius: 5px;
}
.insta {
  background: linear-gradient(
    to right,
    var(--instagram-from),
    var(--instagram-to)
  );
  padding-top: 2px;
  border-radius: 5px;
}
.youtube {
  background-color: var(--youtube);
  padding-top: 2px;
  border-radius: 5px;
}
.name {
  display: flex;
  justify-content: center;
  color: var(--light-theme);
}
.name img {
  margin-right: 10px;
}
.num-followers {
  font-size: 30px;
  font-weight: 700;
  color: var(--white-text);
  margin-top: 15px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}
.followers {
  font-size: 15px;
  font-weight: 400;
  color: var(--light-theme);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.percent img {
  vertical-align: middle;
  margin-right: 5px;
}
.percent span {
  font-size: 12px;
  font-weight: 400;
  color: var(--green);
}
.percent span.red {
  color: var(--red);
}
/*overview section*/
h2 {
  font-size: 26px;
  font-weight: 700;
  color: var(--white-text);
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media screen and (max-width: 375px) {
  .content {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.analysis {
  width: 200px;
  background-color: var(--darkcard-bg);
  padding: 15px;
  border-radius: 6px;
}
@media screen and (max-width: 860px) {
  .analysis {
    width: 150px;
  }
}

@media screen and (max-width: 375px) {
  .analysis {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
}
.views,
.right {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.right {
  align-items: flex-end;
}
.views p {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-theme);
}
.right p.num-of-views {
  font-size: 26px;
  font-weight: 700;
  color: var(--white-text);
}
.right p {
  font-size: 13px;
  font-weight: 400;
  color: var(--green);
}
.right p.red {
  color: var(--red);
}
.right img {
  margin-right: 4px;
}

/*-------*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
